﻿@using Models.Entities;

@{
    var activedCategories = new List<NewsCategory>();
    var news = new News();

    if (ViewBag.ActivedCategories != null)
    {
        activedCategories = ViewBag.ActivedCategories;
    }

    if (ViewBag.News != null)
    {
        news = ViewBag.News;
    }

    var newsTitle = news.Title;
    ViewData["Title"] = string.IsNullOrEmpty(newsTitle) ? "TẠO MỚI TIN TỨC" : newsTitle;
}

@section Styles {
    <style>
        .page-link:hover {
            cursor: pointer;
        }

        .ck, .ck-content, .ck-editor__editable, .ck-rounded-corners, .ck-editor__editable_inline, .ck-blurred {
            color: #000;
            height: 450px;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">@(newsTitle.Length > 45 ? newsTitle.Substring(0, 45) + "..." : newsTitle)</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
    <div>
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>

<div class="container-fluid">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form role="form" action="">
                            <div class="form-group">
                                <label for="CategoryId">Danh mục tin tức</label>
                                <select class="form-control" id="CategoryId" name="CategoryId">
                                    <option value=""></option>
                                    @if (activedCategories != null && activedCategories.Any())
                                    {
                                        foreach (var cat in activedCategories)
                                        {
                                            if (cat.Id == news.CategoryId)
                                            {
                                                <option value="@cat.Id" selected>@cat.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@cat.Id">@cat.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Title">Tiêu đề</label>
                                <input class="form-control" type="text" id="Title" name="Title" onkeyup="GenerateSlug()" value="@news.Title" />
                                <input type="hidden" id="Id" value="@news.Id" />
                            </div>

                            <div class="form-group">
                                <label for="Slug">Slug</label>
                                <input class="form-control" readonly type="text" id="Slug" name="Slug" value="@news.Slug" />
                            </div>

                            <div class="form-group">
                                <label for="Image">Hình ảnh</label>
                                <input class="form-control" type="text" id="Image" name="Image" onkeyup="ShowImage()" value="@news.Image" />
                                <img class="img-fluid" id="ImageShow" style="width: 200px;" src="" alt="" />
                            </div>

                            <div class="form-group">
                                <label for="Description">Short Description</label>
                                <input class="form-control" type="text" id="Description" name="Description" value="@news.Description" />
                            </div>

                            <div class="form-group">
                                <label for="editor">Nội dung:</label>
                                <div id="editor"></div>
                                <input type="hidden" id="NewsContent" value="@news.Content" />
                            </div>

                            <div class="form-group">
                                <label for="Description">Tag</label>
                                <input class="form-control" type="text" id="Tags" name="Tags" value="@news.Tags" onkeyup="GenerateTag()" />
                                <div id="tag-display"></div>
                            </div>

                            <div class="form-group">
                                <label for="IsActived">Is Actived</label>
                                <select class="form-control" id="IsActived" name="IsActived">
                                    <option value="true">Enable</option>
                                    <option value="false">Disable</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="button" onclick="CreateOrUpdate()" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/ckeditor5/ckeditor.js"></script>
    @* <script src="~/plugins/ckfinder/ckfinder.js"></script> *@
    <script src="~/js/pages/news/detail.js"></script>
}
