﻿@using Models.Entities;
@{
    ViewData["Title"] = "TIN TỨC";
    var newsList = new List<News>();
    var perpageShow = new List<int>()
    {
        10, 20, 30, 50, 100, 200
    };
    long total = 0;
    long totalPage = 1;
    var currentPage = 1;
    var limit = 1;

    if (ViewBag.NewsList != null)
    {
        newsList = ViewBag.NewsList;
    }

    if (ViewBag.TotalRecord != null)
    {
        total = ViewBag.TotalRecord;
    }

    if (ViewBag.TotalPage != null)
    {
        totalPage = ViewBag.TotalPage;
    }

    if (ViewBag.CurrentPage != null)
    {
        currentPage = ViewBag.CurrentPage;
    }

    if (ViewBag.Limit != null)
    {
        limit = ViewBag.Limit;
    }
}

@section Styles {
    <style>
        .page-link:hover {
            cursor: pointer;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
    <div>
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>

<div class="container-fluid">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a href="/tin-tuc/chi-tiet/" class="btn btn-sm btn-primary">Thêm mới</a>
                    </div>
                    <br />
                    <br />
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6" style="display: flex;">
                                <span>Hiển thị </span>
                                <select id="perpage" name="perpage" style="margin: 0 10px; height: 38px;" title="per-page">
                                    @if (perpageShow != null && perpageShow.Any())
                                    {
                                        foreach (var item in perpageShow)
                                        {
                                            if (item == limit)
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                </select>
                                <span> / @total</span>
                            </div>
                            <div class="col-6">
                                <nav aria-label="Page navigation example" class="pull-right">
                                    <ul class="pagination">
                                        @if (currentPage == 1)
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-disabled="true">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" data-page="@(currentPage - 1)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        @for (int i = 0; i < totalPage; i++)
                                        {
                                            if (i + 1 == currentPage)
                                            {
                                                <li class="page-item active" aria-current="page"><a class="page-link">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" data-page="@(i + 1)">@(i + 1)</a></li>
                                            }
                                        }
                                        @if (currentPage == totalPage)
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-disabled="true">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" data-page="@(currentPage + 1)" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="clearfix"><br /></div>
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered table-condensed table-striped" id="category-table" style="width: 100% !important; font-size: 12px">
                            <thead>
                                <tr>
                                    <td>Title</td>
                                    <td>Category</td>
                                    <td>Image</td>
                                    <td>Description</td>
                                    <td>Tags</td>
                                    <td>Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (newsList != null && newsList.Any())
                                {
                                    foreach (var newItem in newsList)
                                    {
                                        <tr>
                                            <td>@newItem.Title</td>
                                            <td>@newItem.CategoryName</td>
                                            <td>
                                                <img class="img-fluid" style="width: 200px;" src="@newItem.Image" alt="@newItem.Title" />
                                            </td>
                                            <td>@newItem.Description</td>
                                            <td>
                                                @{
                                                    var tagArr = newItem.Tags.Split(',');
                                                    foreach (var tag in tagArr)
                                                    {
                                                        <span class="badge badge-primary">@tag.ToUpper()</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @if (newItem.IsActived)
                                                {
                                                    <span class="badge badge-primary">Actived</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">In Actived</span>
                                                }
                                            </td>
                                            <td>
                                                <a href="/tin-tuc/chi-tiet/@newItem.Id" class="btn btn-sm btn-primary">Edit</a>
                                                @if (newItem.IsActived)
                                                {
                                                    <button class="btn btn-sm btn-danger" onclick="Active('@newItem.Id', false)">Disable</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-info" onclick="Active('@newItem.Id', true)">Enable</button>
                                                }
                                                <button class="btn btn-sm btn-danger" onclick="Delete('@newItem.Id')">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/news/detail.js"></script>
}
