﻿@{
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/tin-tuc">Tin tức</a></li>
            <li class="active">Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức</li>
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <article id="main" class="col-md-9">
            <aside class="main-news-wrapper">
                <div class="main-news">
                    <div class="main-news-thumb">
                        <img class="main-news-thumb-image" alt="news" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_22/ttxvn-2205chutichnuoctolam2-6792.jpg.webp" />
                    </div>
                    <h1 class="main-news-title">Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức</h1>
                    <div class="main-news-content">
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <p>
                            Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức
                        </p>
                        <div class="main-news-info">
                            <span class="main-news-date">Ngày đăng: 02/04/2021</span>
                            <span class="main-news-author">Tác giả: Admin</span>
                        </div>
                    </div>
                </div>
            </aside>

            <aside class="aside news-tags">
                <h3 class="aside-title">Tags</h3>
                <ul class="news-tags-list">
                    <li class="news-tags-item">
                        <a href="/tag/1">Tân Chủ tịch nước</a>
                    </li>
                    <li class="news-tags-item">
                        <a href="/tag/2">Tô Lâm</a>
                    </li>
                    <li class="news-tags-item">
                        <a href="/tag/3">Tuyên thệ nhậm chức</a>
                    </li>
                </ul>
            </aside>

            <aside class="aside news-comments">
                <h3 class="aside-title">Bình luận</h3>
                <div class="news-comments-form">
                    <form>
                        <div class="form-group>
                            <label for="comment">Bình luận</label>
                            <textarea class="form-control" id="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                </div>
                <div class="news-comments-list">
                    <div class="news-comments-item">
                        <div class="news-comments-item-info">
                            <span class="news-comments-item-author">Admin</span>
                            <span class="news-comments-item-date">02/04/2021</span>
                        </div>
                        <div class="news-comments-item-content">
                            Bình luận
                        </div>
                    </div>
                    <div class="news-comments-item">
                        <div class="news-comments-item-info">
                            <span class="news-comments-item-author">Admin</span>
                            <span class="news-comments-item-date">02/04/2021</span>
                        </div>
                        <div class="news-comments-item-content">
                            Bình luận
                        </div>
                    </div>
                    <div class="news-comments-item">
                        <div class="news-comments-item-info">
                            <span class="news-comments-item-author">Admin</span>
                            <span class="news-comments-item-date">02/04/2021</span>
                        </div>
                        <div class="news-comments-item-content">
                            Bình luận
                        </div>
                    </div>
                    <div class="news-comments-item">
                        <div class="news-comments-item-info">
                            <span class="news-comments-item-author">Admin</span>
                            <span class="news-comments-item-date">02/04/2021</span>
                        </div>
                        <div class="news-comments-item-content">
                            Bình luận
                        </div>
                    </div>
                    <div class="news-comments-item">
                        <div class="news-comments-item-info">
                            <span class="news-comments-item-author">Admin</span>
                            <span class="news-comments-item-date">02/04/2021</span>
                        </div>
                        <div class="news-comments-item-content">
                            Bình luận
                        </div>
                    </div>
                </div>
            </aside>
        </article>

        <article id="aside" class="col-md-3">
            <aside class="aside">
                <h3 class="aside-title">Tin nổi bật</h3>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>

                <div class="news-widget">
                    <img class="news-widget-image" src="https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp" alt="news" />
                    <div class="news-widget-title">
                        Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV
                    </div>
                </div>
            </aside>
        </article>
    </div>
</section>
