﻿@{
    ViewData["Title"] = "Tin tức";
    var news = new
    {
        Image = "https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_22/ttxvn-2205chutichnuoctolam2-6792.jpg.webp",
        Title = "Tân Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam Tô Lâm tuyên thệ nhậm chức",
        Slug = "tan-chu-tich-nuoc",
        Description = "Sáng 22/5/2024, tại Kỳ họp thứ 7, Quốc hội khóa XV đã bầu đồng chí Tô Lâm, Ủy viên Bộ Chính trị giữ chức Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam nhiệm kỳ 2021-2026.Sáng 22/5/2024, tại Kỳ họp thứ 7, Quốc hội khóa XV đã bầu đồng chí Tô Lâm, Ủy viên Bộ Chính trị giữ chức Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam nhiệm kỳ 2021-2026.Sáng 22/5/2024, tại Kỳ họp thứ 7, Quốc hội khóa XV đã bầu đồng chí Tô Lâm, Ủy viên Bộ Chính trị giữ chức Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam nhiệm kỳ 2021-2026.Sáng 22/5/2024, tại Kỳ họp thứ 7, Quốc hội khóa XV đã bầu đồng chí Tô Lâm, Ủy viên Bộ Chính trị giữ chức Chủ tịch nước Cộng hòa xã hội chủ nghĩa Việt Nam nhiệm kỳ 2021-2026."
    };

    var newlist = new
    {
        Image = "https://imagev3.vietnamplus.vn/h600/Uploaded/2024/ngtnnn/2024_05_20/ttxvn-2005chutichquochoi7-8916.jpg.webp",
        Title = "Hình ảnh ông Trần Thanh Mẫn tuyên thệ nhậm chức Chủ tịch Quốc hội khóa XV",
        Slug = "tan-chu-tich-nuoc",
        Description = "Chiều 20/5/2024, tại Kỳ họp thứ 7, Quốc hội đã bầu ông Trần Thanh Mẫn, Ủy viên Bộ Chính trị, Phó Chủ tịch Thường trực Quốc hội giữ chức Chủ tịch Quốc hội khóa XV, nhiệm kỳ 2021-2026."
    };
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/tin-tuc">Tin tức</a></li>
            <li class="active">Chính trị</li>
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <article id="aside" class="col-md-3">
                <aside class="aside">
                    <h3 class="aside-title">Danh mục tin tức:</h3>
                    <ul class="news-category">
                        <li><a href="#">Tin công nghệ</a></li>
                        <li><a href="#">Tin đời sống</a></li>
                        <li><a href="#">Thể thao</a></li>
                        <li><a href="#">Thời trang</a></li>
                        <li><a href="#">Xe hơi</a></li>
                        <li><a href="#">Chính trị</a></li>
                    </ul>
                </aside>

                <aside class="aside">
                    <h3 class="aside-title">Top đánh giá</h3>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Intel/CPU/i5%208400/untitled-1_6e92f263a5c1446f98f837bf820cdb12.jpg" alt="Intel Core i5 8400 / 9M / 2.8GHz / 6 nh&#226;n 6 luồng" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/2">
                                    Intel Core i5 8400 / 9M / 2.8GHz / 6 nh&#226;n 6 luồng
                                </a>
                            </h2>
                            <h3 class="product-price">
                                5,250,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="2">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Gigabyte/Mainboard/B360M/b360m_aorus_pro_gearvn.jpg" alt="GIGABYTE B360M AORUS PRO LGA1151" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/4">
                                    GIGABYTE B360M AORUS PRO LGA1151
                                </a>
                            </h2>
                            <h3 class="product-price">
                                2,050,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="4">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Asus/mainboard/ASUS%20Z390%20ROG%20MAXIMUS%20XI%20HERO%20LGA1151v2/ASUS%20Z390%20ROG%2001.png" alt="ASUS Z390 ROG MAXIMUS XI HERO LGA1151v2" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/5">
                                    ASUS Z390 ROG MAXIMUS XI HERO LGA1151v2
                                </a>
                            </h2>
                            <h3 class="product-price">
                                7,990,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="5">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Intel/CPU/i7%208700/intel_core_i7_8700.jpg" alt="Intel Core i7 8700 / 12M / 3.2GHz / 6 nh&#226;n 12 luồng" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/6">
                                    Intel Core i7 8700 / 12M / 3.2GHz / 6 nhân 12 luồn...
                                </a>
                            </h2>
                            <h3 class="product-price">
                                8,350,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="6">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </article>

            <article id="main" class="col-md-9">
                <aside class="main-news-wrapper">
                    <div class="main-news">
                        <div class="main-news-thumb">
                            <a href="/tin-tuc/chi-tiet/@news.Slug">
                                <img class="main-news-thumb-image" alt="@news.Title" src="@news.Image" />
                            </a>
                        </div>
                        <div class="main-news-title">
                            <a href="/tin-tuc/chi-tiet/@news.Slug">@news.Title</a>
                        </div>
                        <div class="main-news-short-description">@(news.Description.Length >= 370 ? news.Description.Substring(0, 370) + "..." : news.Description)</div>
                    </div>
                </aside>

                <hr />

                <aside class="news-list row">
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                    <div class="news-item col-md-6">
                        <div class="news-thumb">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">
                            <img class="news-thumb-image" alt="@newlist.Title" src="@newlist.Image" />
                            </a>
                        </div>
                        <div class="news-title">
                            <a href="/tin-tuc/chi-tiet/@newlist.Slug">@newlist.Title</a>
                        </div>
                        <div class="news-short-description">@(newlist.Description.Length >= 170 ? newlist.Description.Substring(0, 170) + "..." : newlist.Description)</div>
                    </div>
                </aside>

                <aside>
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="row-filter">
                                <a href="0" class="active"><i class="fa fa-th-large"></i></a>
                                <a href="0" onclick="changeDisplayGridView(false)"><i class="fa fa-bars"></i></a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="page-filter">
                                <span class="text-uppercase">Hiển thị mỗi trang:</span>
                                <select class="input" id="page-size-1" onchange="changePerPage('page-size-1')">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                    <option value="60">60</option>
                                </select>
                            </div>

                            <ul class="store-pages"><li><span class="text-uppercase">Trang:</span></li><li><a class="disabled"><i class="fa fa-caret-left"></i></a></li><li class="active">1</li><li><a href="0&amp;view=grid&amp;sort=1&amp;pageSize=12&amp;page=2&amp;keyword=">2</a></li><li><a href="0&amp;view=grid&amp;sort=1&amp;pageSize=12&amp;page=3&amp;keyword=">3</a></li><li><a href="0&amp;view=grid&amp;sort=1&amp;pageSize=12&amp;page=4&amp;keyword=">4</a></li><li><a href="0&amp;view=grid&amp;sort=1&amp;pageSize=12&amp;page=5&amp;keyword=">5</a></li><li><a href="0&amp;view=grid&amp;sort=1&amp;pageSize=12&amp;page=2&amp;keyword="><i class="fa fa-caret-right"></i></a></li></ul>
                        </div>
                    </div>
                </aside>
            </article>
        </div>
    </div>
</section>
