﻿@using Models.Entities;
@using Models.ViewModels;
@{
    ViewData["Title"] = "Products";
    var products = new List<Product>();
    var activedCategories = new List<CategoryViewModel>();
    var activedManufactures = new List<ManufactureViewModel>();
    var perpageShow = new List<int>()
    {
        10, 20, 30, 50, 100, 200
    };
    long total = 0;
    long totalPage = 1;
    var currentPage = 1;
    var limit = 1;

    if (ViewBag.TotalRecord != null)
    {
        total = ViewBag.TotalRecord;
    }

    if (ViewBag.TotalPage != null)
    {
        totalPage = ViewBag.TotalPage;
    }

    if (ViewBag.CurrentPage != null)
    {
        currentPage = ViewBag.CurrentPage;
    }

    if (ViewBag.Limit != null)
    {
        limit = ViewBag.Limit;
    }

    if (ViewBag.ActivedCategories != null)
    {
        activedCategories = ViewBag.ActivedCategories;
    }

    if (ViewBag.ActivedManufactures != null)
    {
        activedManufactures = ViewBag.ActivedManufactures;
    }

    if (ViewBag.Products != null)
    {
        products = ViewBag.Products;
    }
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Product</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item active">Product</li>
        </ol>
    </div>
    <div>
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>

<div class="container-fluid">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <tr>
                                        <td><label>Product Name:</label></td>
                                        <td><label>Down Price:</label></td>
                                        <td><label>Up Price:</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" id="SearchName" class="form-control" placeholder="Product name for seach..." />
                                            <input type="hidden" value="@currentPage" id="Page" />
                                        </td>
                                        <td><input type="text" id="DownPrice" onkeyup="formatMoneyNumber('DownPrice')" class="form-control" /></td>
                                        <td><input type="text" id="UpPrice" onkeyup="formatMoneyNumber('UpPrice')" class="form-control" /></td>
                                        <td>
                                            <button class="btn btn-success" onclick="Search()">Search</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"><br /></div>
                <div class="row">
                    <div class="col-12">
                        <button onclick="CreateModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#informationModal">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <div class="card-body" id="page-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6" style="display: flex;">
                                <span>Hiển thị </span>
                                <select id="perpage" name="perpage" style="margin: 0 10px; height: 38px;" title="per-page">
                                    @if (perpageShow != null && perpageShow.Any())
                                    {
                                        foreach (var item in perpageShow)
                                        {
                                            if (item == limit)
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                </select>
                                <span> / @total</span>
                            </div>
                            <div class="col-6">
                                <nav aria-label="Page navigation example" class="pull-right">
                                    <ul class="pagination">
                                        @if (currentPage == 1)
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-disabled="true">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" data-page="@(currentPage - 1)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        @for (int i = 0; i < totalPage; i++)
                                        {
                                            if (i + 1 == currentPage)
                                            {
                                                <li class="page-item active" aria-current="page"><a class="page-link">@(i + 1)</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" data-page="@(i + 1)">@(i + 1)</a></li>
                                            }
                                        }
                                        @if (currentPage == totalPage)
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-disabled="true">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" data-page="@(currentPage + 1)" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="clearfix"><br /></div>
                    </div>
                    <div class="col-12">
                        <table class="table table-bordered table-condensed table-striped" id="category-table" style="width: 100% !important; font-size: 12px">
                            <thead>
                                <tr>
                                    <td>Category</td>
                                    <td>Manufacture</td>
                                    <td>Name</td>
                                    <td>Slug</td>
                                    <td>Image</td>
                                    <td>Price</td>
                                    <td>Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (products != null && products.Any())
                                {
                                    foreach (var product in products)
                                    {
                                        <tr>
                                            <td>@product.CategoryName</td>
                                            <td>@product.ManufactureName</td>
                                            <td>@product.Name</td>
                                            <td>@product.Slug</td>
                                            <td>
                                                <img class="img-fluid" style="width: 200px;" src="@product.FeatureImage" alt="@product.Name" />
                                            </td>
                                            <td>@string.Format("{0:0,0}", product.Price)</td>
                                            <td>
                                                @if (product.IsActived)
                                                {
                                                    <span class="badge badge-primary">Actived</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">In Actived</span>
                                                }
                                            </td>
                                            <td>
                                                <button type="button" onclick="Edit('@product.Id')" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#informationModal">
                                                    Edit
                                                </button>
                                                @if (product.IsActived)
                                                {
                                                    <button class="btn btn-sm btn-danger" onclick="Active('@product.Id', false)">Disable</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-sm btn-info" onclick="Active('@product.Id', true)">Enable</button>
                                                }
                                                <button class="btn btn-sm btn-danger" onclick="Delete('@product.Id')">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <div>There is no data</div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="informationModal" tabindex="-1" aria-labelledby="informationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationModalLabel">Select image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height: 800px;">
                <form role="form" action="">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="CategoryId">Category Id</label>
                                <select class="form-control" id="CategoryId" name="CategoryId" title="CategoryId" onchange="ChangeCategory()">
                                    <option value=""></option>
                                    @if (activedCategories != null && activedCategories.Any())
                                    {
                                        foreach (var cat in activedCategories)
                                        {
                                            <option value="@cat.Id">@cat.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ManufactureId">Manufacture Id</label>
                                <select class="form-control" id="ManufactureId" name="ManufactureId" title="ManufactureId">
                                    <option value=""></option>
                                    @if (activedManufactures != null && activedManufactures.Any())
                                    {
                                        foreach (var manu in activedManufactures)
                                        {
                                            <option value="@manu.Id">@manu.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="IsActived">Is Actived</label>
                                <select class="form-control" id="IsActived" name="IsActived">
                                    <option value="true">Enable</option>
                                    <option value="false">Disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">Product Name</label>
                                <input class="form-control" type="text" id="Name" name="Name" onkeyup="GenerateSlug()" />
                            </div>

                            <div class="form-group">
                                <label for="Slug">Product Slug</label>
                                <input class="form-control" readonly type="text" id="Slug" name="Slug" />
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="Price">Product Price</label>
                                        <input class="form-control" type="text" onkeyup="formatMoneyNumber('Price')" id="Price" name="Price" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="Price">Sale Percent</label>
                                        <input class="form-control" type="text" onkeyup="formatMoneyNumber('SalePrice')" id="SalePrice" name="SalePrice" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
                                <h4>Thuộc tính:</h4>
                            </div>
                            <table class="table table-bordered" id="property-table">
                            </table>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Image">Product Image</label>
                                <input class="form-control" type="text" id="Image" name="Image" onkeyup="ShowImage()" />
                                <img class="img-fluid" id="ImageShow" style="width: 200px;" src="" alt="" />
                            </div>
                            <hr />
                            <button class="btn btn-sm btn-primary" onclick="AddImageRow()">Add Row</button>
                            <hr />
                            <table class="table table-bordered" id="image-table">
                                
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="CreateOrUpdate()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/product/product.js"></script>
}
