﻿@using Models.Entities;
@{
    Layout = null;
    var products = new List<Product>();
    var perpageShow = new List<int>()
    {
        10, 20, 30, 50, 100, 200
    };
    long total = 0;
    long totalPage = 1;
    var currentPage = 1;
    var limit = 1;

    if (ViewBag.TotalRecord != null)
    {
        total = ViewBag.TotalRecord;
    }

    if (ViewBag.TotalPage != null)
    {
        totalPage = ViewBag.TotalPage;
    }

    if (ViewBag.CurrentPage != null)
    {
        currentPage = ViewBag.CurrentPage;
    }

    if (ViewBag.Limit != null)
    {
        limit = ViewBag.Limit;
    }

    if (ViewBag.Products != null)
    {
        products = ViewBag.Products;
    }
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6" style="display: flex;">
                <span>Hiển thị </span>
                <select id="perpage" name="perpage" style="margin: 0 10px; height: 38px;" title="per-page">
                    @if (perpageShow != null && perpageShow.Any())
                    {
                        foreach (var item in perpageShow)
                        {
                            if (item == limit)
                            {
                                <option value="@item" selected>@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    }
                </select>
                <span> / @total</span>
            </div>
            <div class="col-6">
                <nav aria-label="Page navigation example" class="pull-right">
                    <ul class="pagination">
                        @if (currentPage == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" aria-disabled="true">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" data-page="@(currentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 0; i < totalPage; i++)
                        {
                            if (i + 1 == currentPage)
                            {
                                <li class="page-item active" aria-current="page"><a class="page-link">@(i + 1)</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" data-page="@(i + 1)">@(i + 1)</a></li>
                            }
                        }
                        @if (currentPage == totalPage)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" aria-disabled="true">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" data-page="@(currentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="clearfix"><br /></div>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-condensed table-striped" id="category-table" style="width: 100% !important; font-size: 12px">
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Manufacture</td>
                    <td>Name</td>
                    <td>Slug</td>
                    <td>Image</td>
                    <td>Price</td>
                    <td>Status</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @if (products != null && products.Any())
                {
                    foreach (var product in products)
                    {
                        <tr>
                            <td>@product.CategoryName</td>
                            <td>@product.ManufactureName</td>
                            <td>@product.Name</td>
                            <td>@product.Slug</td>
                            <td>
                                <img class="img-fluid" style="width: 200px;" src="@product.FeatureImage" alt="@product.Name" />
                            </td>
                            <td>@string.Format("{0:0,0}", product.Price)</td>
                            <td>
                                @if (product.IsActived)
                                {
                                    <span class="badge badge-primary">Actived</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">In Actived</span>
                                }
                            </td>
                            <td>
                                <button type="button" onclick="Edit('@product.Id')" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#informationModal">
                                    Edit
                                </button>
                                @if (product.IsActived)
                                {
                                    <button class="btn btn-sm btn-danger" onclick="Active('@product.Id', false)">Disable</button>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-info" onclick="Active('@product.Id', true)">Enable</button>
                                }
                                <button class="btn btn-sm btn-danger" onclick="Delete('@product.Id')">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <div>There is no data</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
