﻿@using Models.Entities;
@using Models.Enums;
@using Models.ViewModels;
@{
    ViewData["Title"] = "PRODUCT LIST";
    var products = new List<Product>();
    var categories = new List<CategoryViewModel>();
    var manufactures = new List<ManufactureViewModel>();
    var perpageShow = new List<int>()
    {
        12, 24, 30, 45, 60
    };
    long total = 0;
    long totalPage = 1;
    var currentPage = 1;
    var limit = 1;
    CategoryViewModel? categoryViewModel = null;
    ManufactureViewModel? manufactureViewModel = null;
    string? productName = null;
    int downPrice = 0;
    int upPrice = 0;
    bool isGridView = true;
    ProductOrder? productOrder = ProductOrder.PriceIncre;

    #region ViewBag
    if (ViewBag.TotalRecord != null)
    {
        total = ViewBag.TotalRecord;
    }

    if (ViewBag.TotalPage != null)
    {
        totalPage = ViewBag.TotalPage;
    }

    if (ViewBag.CurrentPage != null)
    {
        currentPage = ViewBag.CurrentPage;
    }

    if (ViewBag.Limit != null)
    {
        limit = ViewBag.Limit;
    }

    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories;
    }

    if (ViewBag.Manufactures != null)
    {
        manufactures = ViewBag.Manufactures;
    }

    if (ViewBag.Products != null)
    {
        products = ViewBag.Products;
    }

    if (ViewBag.CategoryViewModel != null)
    {
        categoryViewModel = ViewBag.CategoryViewModel;
    }

    if (ViewBag.ManufactureViewModel != null)
    {
        manufactureViewModel = ViewBag.ManufactureViewModel;
    }

    if (ViewBag.ProductName != null)
    {
        productName = ViewBag.ProductName;
    }

    if (ViewBag.DownPrice != null)
    {
        downPrice = ViewBag.DownPrice;
    }

    if (ViewBag.UpPrice != null)
    {
        upPrice = ViewBag.UpPrice;
    }

    if (ViewBag.IsGridView != null)
    {
        isGridView = ViewBag.IsGridView;
    }
    #endregion
}

<section id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Sản phẩm</li>
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <article id="aside" class="col-md-3">
                <aside class="aside">
                    <h3 class="aside-title">Lọc theo hãng:</h3>
                    <ul class="size-option text-uppercase" id="manufacture-list">
                        @if (manufactureViewModel != null)
                        {
                            <li class="manufacture-item active" onclick="clickOnManufacture('@manufactureViewModel.Slug')">
                                <a href="">@manufactureViewModel.Name</a>
                            </li>
                        }
                        else
                        {
                            if (manufactures != null && manufactures.Count() > 0)
                            {
                                foreach (var manufacture in manufactures)
                                {
                                    <li class="manufacture-item" onclick="clickOnManufacture('@manufacture.Slug')">
                                        <a href="">@manufacture.Name</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </aside>

                <aside class="aside">
                    <h3 class="aside-title">Lọc theo danh mục:</h3>
                    <ul class="size-option" id="category-list">
                        @if (categoryViewModel != null)
                        {
                            <li class="category-item active" onclick="clickOnCategory('@categoryViewModel.Slug')">
                                <a href="">@categoryViewModel.Name</a>
                            </li>
                            if (categoryViewModel.Children != null && categoryViewModel.Children.Any())
                            {
                                foreach (var item in categoryViewModel.Children)
                                {
                                    <li class="category-item" onclick="clickOnCategory('@item.Slug')">
                                        <a href="/san-pham/danh-muc/@item.Slug">@item.Name</a>
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            if (categories != null && categories.Any())
                            {
                                foreach (var item in categories)
                                {
                                    <li class="category-item" onclick="clickOnCategory('@item.Slug')">
                                        <a href="/san-pham/danh-muc/@item.Slug">@item.Name</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </aside>

                <aside class="aside">
                    <h3 class="aside-title">Lọc theo mức giá:</h3>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Từ</label>
                            <input type="text" id="DownPrice" onkeyup="formatMoneyNumber('DownPrice')" class="form-control" value="@string.Format("{0:n0}", downPrice)" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Đến</label>
                            <input type="text" id="UpPrice" onkeyup="formatMoneyNumber('UpPrice')" class="form-control" value="@string.Format("{0:n0}", upPrice)" />
                        </div>
                    </div>
                </aside>

                <aside class="aside">
                    <button class="primary-btn" onclick="filterByPrice()">Lọc</button>
                    <a href="/san-pham/" class="primary-btn">Xoá hết bộ lọc</a>
                </aside>

                <aside class="aside">
                    <h3 class="aside-title">Top đánh giá</h3>
                    <!--<div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Intel/CPU/i5%208400/untitled-1_6e92f263a5c1446f98f837bf820cdb12.jpg" alt="Intel Core i5 8400 / 9M / 2.8GHz / 6 nh&#226;n 6 luồng" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/2">
                                    Intel Core i5 8400 / 9M / 2.8GHz / 6 nh&#226;n 6 luồng
                                </a>
                            </h2>
                            <h3 class="product-price">
                                5,250,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="2">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Gigabyte/Mainboard/B360M/b360m_aorus_pro_gearvn.jpg" alt="GIGABYTE B360M AORUS PRO LGA1151" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/4">
                                    GIGABYTE B360M AORUS PRO LGA1151
                                </a>
                            </h2>
                            <h3 class="product-price">
                                2,050,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="4">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Asus/mainboard/ASUS%20Z390%20ROG%20MAXIMUS%20XI%20HERO%20LGA1151v2/ASUS%20Z390%20ROG%2001.png" alt="ASUS Z390 ROG MAXIMUS XI HERO LGA1151v2" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/5">
                                    ASUS Z390 ROG MAXIMUS XI HERO LGA1151v2
                                </a>
                            </h2>
                            <h3 class="product-price">
                                7,990,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="5">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img src="~/upload/images/ProductImages/Intel/CPU/i7%208700/intel_core_i7_8700.jpg" alt="Intel Core i7 8700 / 12M / 3.2GHz / 6 nh&#226;n 12 luồng" />
                        </div>
                        <div class="product-body">
                            <h2 class="product-name">
                                <a href="/san-pham/chi-tiet/6">
                                    Intel Core i7 8700 / 12M / 3.2GHz / 6 nhân 12 luồn...
                                </a>
                            </h2>
                            <h3 class="product-price">
                                8,350,000
                            </h3>

                            <div class="product-rating">
                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                <a href="" class="main-btn2 add-to-cart" data-id="6">Mua ngay</a>
                            </div>
                        </div>
                    </div> -->
                </aside>
            </article>

            <article id="main" class="col-md-9">

                <div class="store-filter clearfix">
                    <div class="pull-left">
                        <div class="row-filter">
                            @if (isGridView)
                            {
                                <a href="0" class='active'><i class="fa fa-th-large"></i></a>
                                <a href="0" onclick="changeDisplayGridView(false)"><i class="fa fa-bars"></i></a>
                            }
                            else
                            {
                                <a href="0" onclick="changeDisplayGridView(true)"><i class="fa fa-th-large"></i></a>
                                <a href="0" class='active'><i class="fa fa-bars"></i></a>
                            }
                        </div>
                        <div class="sort-filter">
                            <span class="text-uppercase">Sắp xếp theo:</span>
                            <select class="input" id="sort-type-1">
                                @if (productOrder == ProductOrder.PriceIncre)
                                {
                                    <option value="@ProductOrder.PriceIncre" selected>Giá tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.PriceIncre">Giá tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.PriceDecre)
                                {
                                    <option value="@ProductOrder.PriceDecre" selected>Giá giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.PriceDecre">Giá giảm dần</option>
                                }
                                @if (productOrder == ProductOrder.RateIncre)
                                {
                                    <option value="@ProductOrder.RateIncre">Đánh giá tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.RateIncre">Đánh giá tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.RateDecre)
                                {
                                    <option value="@ProductOrder.RateDecre">Đánh giá giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.RateDecre">Đánh giá giảm dần</option>
                                }
                                @if (productOrder == ProductOrder.SaleIncre)
                                {
                                    <option value="@ProductOrder.SaleIncre">Số lượng bán ra tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.SaleIncre">Số lượng bán ra tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.SaleDecre)
                                {
                                    <option value="@ProductOrder.SaleDecre">Số lượng bán ra giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.SaleDecre">Số lượng bán ra giảm dần</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="page-filter">
                            <span class="text-uppercase">Hiển thị mỗi trang:</span>
                            <select class="input" id="page-size-1" onchange="changePerPage('page-size-1')">
                                @if (perpageShow != null && perpageShow.Any())
                                {
                                    foreach (var item in perpageShow)
                                    {
                                        if (item == limit)
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <ul class='store-pages'><li><span class='text-uppercase'>Trang:</span></li><li><a class='disabled'><i class='fa fa-caret-left'></i></a></li><li class='active'>1</li><li><a href='0&view=grid&sort=1&pageSize=12&page=2&keyword='>2</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=3&keyword='>3</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=4&keyword='>4</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=5&keyword='>5</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=2&keyword='><i class='fa fa-caret-right'></i></a></li></ul>
                    </div>
                </div>

                <div id="store">
                    <div class="row">
                        @if (products != null && products.Count() > 0)
                        {
                            foreach (var product in products)
                            {
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="product product-single">
                                        <div class="product-thumb">
                                            <div class="product-label">
                                                @if (product.SalePrice > 0)
                                                {
                                                    <span class='sale'>@product.SalePrice%</span>
                                                    <span class='text-center'>Mới</span>
                                                }
                                                else
                                                {
                                                    <span class='text-center'>Mới</span>
                                                }
                                            </div>
                                            <a href="/san-pham/chi-tiet/@product.Slug" class="main-btn quick-view"><i class="fa fa-eye"></i> Chi tiết</a>
                                            <img src="@product.FeatureImage" alt="@(product.Name.Length > 60 ? product.Name.Substring(0, 60) + "..." : product.Name)" />
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">
                                                @if (product.SalePrice > 0)
                                                {
                                                    @(String.Format("{0:0,0}", product.Price * (100 - product.SalePrice) / 100))
                                                    <small style="text-decoration: line-through;">@(String.Format("{0:0,0}", product.Price))</small>
                                                }
                                                else
                                                {
                                                    @(String.Format("{0:0,0}", product.Price))
                                                }
                                            </h3>
                                            <div class="product-rating">
                                                <i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>
                                            </div>
                                            <h2 class="product-name"><a href="/san-pham/chi-tiet/@product.Slug">@(product.Name.Length > 60 ? product.Name.Substring(0, 60) + "..." : product.Name)</a></h2>
                                            <div class="product-btns">
                                                <a href="" class="main-btn icon-btn" data-id="@product.Id"><i class="fa fa-heart "></i></a>
                                                <a href="" class="main-btn icon-btn" data-id="@product.Id"><i class="fa fa-exchange"></i></a>
                                                <a href="" class="primary-btn add-to-cart pull-right" data-id="@product.Id"><i class="fa fa-shopping-cart"></i> Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="store-filter clearfix">
                    <div class="pull-left">
                        <div class="row-filter">
                            @if (isGridView)
                            {
                                <a href="0" class='active'><i class="fa fa-th-large"></i></a>
                                <a href="0"><i class="fa fa-bars"></i></a>
                            }
                            else
                            {
                                <a href="0"><i class="fa fa-th-large"></i></a>
                                <a href="0" class='active'><i class="fa fa-bars"></i></a>
                            }
                        </div>
                        <div class="sort-filter">
                            <span class="text-uppercase">Sắp xếp theo:</span>
                            <select class="input" id="sort-type-1">
                                @if (productOrder == ProductOrder.PriceIncre)
                                {
                                    <option value="@ProductOrder.PriceIncre" selected>Giá tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.PriceIncre">Giá tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.PriceDecre)
                                {
                                    <option value="@ProductOrder.PriceDecre" selected>Giá giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.PriceDecre">Giá giảm dần</option>
                                }
                                @if (productOrder == ProductOrder.RateIncre)
                                {
                                    <option value="@ProductOrder.RateIncre">Đánh giá tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.RateIncre">Đánh giá tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.RateDecre)
                                {
                                    <option value="@ProductOrder.RateDecre">Đánh giá giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.RateDecre">Đánh giá giảm dần</option>
                                }
                                @if (productOrder == ProductOrder.SaleIncre)
                                {
                                    <option value="@ProductOrder.SaleIncre">Số lượng bán ra tăng dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.SaleIncre">Số lượng bán ra tăng dần</option>
                                }
                                @if (productOrder == ProductOrder.SaleDecre)
                                {
                                    <option value="@ProductOrder.SaleDecre">Số lượng bán ra giảm dần</option>
                                }
                                else
                                {
                                    <option value="@ProductOrder.SaleDecre">Số lượng bán ra giảm dần</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="page-filter">
                            <span class="text-uppercase">Hiển thị mỗi trang:</span>
                            <select class="input" id="page-size-2" onchange="changePerPage('page-size-2')">
                                @if (perpageShow != null && perpageShow.Any())
                                {
                                    foreach (var item in perpageShow)
                                    {
                                        if (item == limit)
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <ul class='store-pages'><li><span class='text-uppercase'>Trang:</span></li><li><a class='disabled'><i class='fa fa-caret-left'></i></a></li><li class='active'>1</li><li><a href='0&view=grid&sort=1&pageSize=12&page=2&keyword='>2</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=3&keyword='>3</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=4&keyword='>4</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=5&keyword='>5</a></li><li><a href='0&view=grid&sort=1&pageSize=12&page=2&keyword='><i class='fa fa-caret-right'></i></a></li></ul>
                    </div>
                </div>

            </article>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/pages/product/product.js"></script>
}
