﻿@using Models.ViewModels;
@{
    var categories = new List<CategoryViewModel>();

    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories;
    }
}

<span class="category-header">Danh mục <i class="fa fa-list"></i></span>
<ul class="category-list">
    @if (categories != null && categories.Any())
    {
        foreach (var category in categories)
        {
            if (category.Children != null && category.Children.Any())
            {
                var subList = category.Children
                .Select((item, index) => new { Item = item, Index = index })
                .GroupBy(x => x.Index / 8)
                .Select(group => group.Select(x => x.Item).ToList())
                .ToList();

                <li class="dropdown side-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">@category.Name<i class="fa fa-angle-right"></i></a>
                    <div class="custom-menu">
                        <div class="row">
                            @for (int i = 0; i < subList.Count(); i++)
                            {
                                @foreach (var item in subList[i])
                                {
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">
                                                    <a href="/san-pham/?category=@item.Slug">@item.Name</a>
                                                </h3>
                                            </li>
                                            @if (item.Children != null && item.Children.Any())
                                            {
                                                @foreach (var subItem in item.Children)
                                                {
                                                    <li>
                                                        <a href="/san-pham/?category=@subItem.Slug">@subItem.Name</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                        <hr class="hidden-md hidden-lg" />
                                    </div>
                                }
                            }
                        </div>

                        @if (category.Image != null)
                        {
                            <div class="row hidden-sm hidden-xs">
                                <div class="col-md-12">
                                    <hr>
                                    <a class="banner banner-1" href="/san-pham/?category=@category.Slug">
                                        <img src="@category.Image" alt="@category.Name" class="img-responsive" />
                                        <div class="banner-caption text-center">
                                            <h3 class="white-color">@category.Name</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </li>
            }
            else
            {
                <li><a href='/san-pham/?category=@category.Slug'>@category.Name</a></li>
            }
        }
    }
</ul>
